<div class="container mt-4 mb-4">
  <div class="login_container">
  <h5>Welcome To Teleperformance</h5>
  <hr />
  <form [formGroup]= "loginForm" (ngSubmit) = "Login()" >

    <div class="fromGroup">
      <label for="email" >Email Address</label>
      <input type="email" formControlName = "email" class="form-control" id="email" placeholder="Email">

    </div>

    <div class="fromGroup">
      <label for="password" >Password</label>
      <input type="password" formControlName = "password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="fromGroup">

      <label class="pl-3" for="password" >remember  </label>
      <input type="checkbox" formControlName = "rememberMe" id="rememberMe" >

    </div>

    <button type="submit" class="btn btn-primary">Login</button>
  </form>

  <div class="btn-login mt-3">
    Not User Sign UP <a href="register" class="btn btn-success"> Register</a>
  </div>


</div>
