<div class = "">
  <div class="alert alert-primary " role="alert">
    <strong>Teleperphrmance Products</strong>
  </div>
  <div class="btn-login mt-3">
    <a href="add-product" class="btn btn-success"> Add new Product</a>
  </div>
  <div>
  <table class="table table-sm table-striped" >
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Image</th>
      <th scope="col">Status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let item of products">
      <td scope="row">{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.desc}}</td>
      <td>
        <div class ="col-md-1">
        <img id = "image" class ="img-fluid" [src] ='urlImage + item.pic'>
      </div>
    </td>
      <td>{{item.status}}</td>
      <td>
        <div *ngIf = "admin">
          <button type = "button" (click) ="EditProduct(item.name)" class="btn btn-primary bt-sm">Edit</button>
        </div>

      </td>
      <td>
        <div *ngIf = "admin">
          <button type = "button"  (click) ="Deleteproduct(item.name)" class="btn btn-danger bt-sm">Delete</button>
        </div>

      </td>
    </tr>

  </tbody>
</table>
  </div>
</div>
